@font-face {
  font-family: "BeeTreeSans";
  src: url("./beetree-sans-font/Display/WEB/BeeTreeSansDisplay-Regular.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "BeeTreeSans";
  src: url("./beetree-sans-font/Display/WEB/BeeTreeSansDisplay-Bold.woff2")
    format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
