@import url("@jupyterlab/theme-light-extension/style/theme.css");
@import url("./variables.css");
@import url("./icons.css");

/* Markdown cell headers */
.jp-RenderedHTMLCommon h1,
.jp-RenderedHTMLCommon h2,
.jp-RenderedHTMLCommon h3,
.jp-RenderedHTMLCommon h4,
.jp-RenderedHTMLCommon h5,
.jp-RenderedHTMLCommon h6 {
  color: #004EFF;
}
