:root {
  /* base mínima para começar a customização */
  --trillia-blue-0: #cfe0ff;
  --trillia-blue-1: #9fbfff;
  --trillia-blue-2: #6a9bff;
  --trillia-blue-3: #2f73ff;
  --trillia-blue-4: #1d4ed8;

  --trillia-mist: #e0f1ef;
  --trillia-lime: #83fb71;
  --trillia-indigo: #1b1b96;
  --trillia-dark: #001827;


  --jp-brand-color0: var(--trillia-blue-4);
  --jp-brand-color1: var(--trillia-blue-3);
  --jp-brand-color2: var(--trillia-blue-2);

  --jp-accent-color0: var(--trillia-blue-4);

  --trillia-font-family-heading: "BeeTreeSans", "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;
  --trillia-font-family-body: "BeeTreeSansText", "Segoe UI", "Helvetica Neue",
    Arial, sans-serif;

  /* --jp-border-width: 1px;
  --jp-border-radius: 10px; */
}
